.login_page{
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #dbdefe;
}
form.login_from {
    max-width: 400px;
    padding: 40px 35px 45px;
    background-color: #fff;
}
.login_from h2 {
    margin-bottom: 20px;
}
.form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form__input label {
    font-size: 14px;
    margin-bottom: 5px;
}
.form__input label sup {
    color: red;
}
.form__input input {
    min-height: 44px;
    border: 1px solid #e2e2e2;
    border-radius: 50px;
    color: #444;
    padding: 5px 20px;
}
.form__input input:focus-visible {
    outline: none;
    border-color: #5138ee;
}
.form__actions button {
    width: 100%;
}